body {
  overflow: hidden;
}

#html {
  height: 100%
}
.body {
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-image: url(./images/background.png);
  height: 100%;
}
.whole {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  font-size: 30px;
  margin-bottom: 0;
  margin-top: 10px;
}


.move-instructions {
  background: white;
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
}
img[alt^="arrow"]{
  height: 55px;
  width: 62px;
  margin-right: 5px;
  margin-left: 5px;
}
img[alt^="wasd"]{
  height: 40px;
  width: 50px;
  margin-right: 5px;
  margin-left: 5px;
}

.canvas {
  display: flex; 
  align-items: flex-end;
}
.canvas > li{
  color: black;
  list-style: none;
  margin-bottom: 250px;
  margin-left: 10px;
}
#game-canvas {
  background: #1b1313; 
}

.links {
  display: flex;
  flex-direction: column;
}

.links > a {
  color:black;
  margin-bottom: 80px;
  margin-right: 40px;
}