.body {
  background: #4c4c4c;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.whole {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.canvas {
  display: flex; 
  align-items: flex-end;
}
.canvas > li{
  list-style: none;
  margin-bottom: 250px;
  margin-left: 10px;
}
#game-canvas {
  background: #1b1313; 
}

.links {
  display: flex;
  flex-direction: column;
}

.links > a {
  color: white;
  margin-bottom: 80px;
  margin-right: 40px;
}